<div class="text-center"> 
    <button type="button" id="bigRedButton" onclick="myFunction()" class="btn btn-danger">
        BIG RED BUTTON
    </button>
</div>

<div class="row bg-dark text-center">
    <div class="col">
        <a href="http://aaips.pt/index.php/97-voluntariado-no-ips" title="">
            <p class="text-light bg-dark">Voluntariado no IPS</p>
            <img src="http://aaips.pt/images/logo/logo-aaips.png" class="img-responsive">
        </a>
    </div>
    <div class="col">
        <a href="https://www.ips.pt/ips_si/web_base.gera_pagina?P_pagina=30826" title="">
            <p class="text-light bg-dark">Portal de Voluntariado</p>
            <img src="https://www.estsetubal.ips.pt/Content/images/logo-ESTS-mob.png" class="img-responsive">
        </a>
    </div>
  </div>
</div>

<div class="embed-responsive embed-responsive-16by9">
    <iframe id="gbc" style="visibility: hidden;" class="embed-responsive-item" src="https://jsemu2.github.io/gba/launcher.html#pokemonemerald" allowfullscreen></iframe>
</div>



