<!--
    name TEXT,
    email TEXT,
    username TEXT,
    password TEXT
-->
<form action="/api/user/register/" method="POST">
    <div class="form-group">
      <label for="Inputusername">Username</label>
      <input type="text" class="form-control" id="InputUsername" name="username" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="InputPassword1">name</label>
      <input type="text" class="form-control" id="InputName" name="name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="InputPassword1">Email</label>
        <input type="text" class="form-control" id="InputEmail" name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="InputPassword1">Password</label>
        <input type="password" class="form-control" id="InputPassword1" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>