<div class="text-center"> 
    <div class="btn-group text-center" role="group" aria-label="Basic example">
        <button type="button" onclick="loadChart('1')" class="btn btn-success">Left</button>
        <button type="button" onclick="loadChart('2')" class="btn btn-warning">Middle</button>
        <button type="button" onclick="loadChart('3')" class="btn btn-danger">Right</button>
    </div>
</div>

<div id="graph-container">

    <canvas id="results-graph" style=" width:10vw; height:10vh;"></canvas>

</div>